{% doc %}
  @param stroke - {string} color stroke
  @param size - {string} size icon
  @param number - {string} the number of the compte
  @param background_count - {string} the background color for the count
  @param text_count - {string} the text color for the count

  @description render icon cart

  @example {% render 'icon-cart', stroke:"", size:"" %}
{% enddoc %}
<div class="relative">
  <svg
    xmlns="http://www.w3.org/2000/svg"
    viewBox="0 0 64 64"
    stroke-width="2.5"
    stroke="{%- if stroke != blank -%}{{- stroke -}}{%- else -%}#000{%- endif -%}"
    fill="none"
    class="duration-300 transform transition-all"
    style="width: {{- size | default: 24 -}}px; height: {{- size | default: 24 -}}px;"
  >
    <path d="M50.44 55.76H13.56a1.84 1.84 0 01-1.83-2l3.28-33a1.85 1.85 0 011.83-1.66h30.32A1.85 1.85 0 0149 20.71l3.28 33a1.84 1.84 0 01-1.84 2.05z"></path><path d="M22.27 24.27V18a9.73 9.73 0 1119.46 0v6.3"></path><circle cx="22.27" cy="24.27" r="2"></circle><circle cx="41.73" cy="24.27" r="2"></circle>
  </svg>
  <span
    style="background-color: {{ background_count | default: "black" }}; color: {{ text_count | default: "white" }}"
    class="absolute -top-1 right-0 text-xs w-4 h-4 flex justify-center items-center rounded-full"
  >
    {{ number | default: 0 }}
  </span>
</div>
