{% doc %}
  @param navigation - {string} the nav menu
  @param isMegaMenuActivate - {boolean} check if mega menu is toggle
  @param background - {string} background color
  @param color - {string} color text
  @param megamenu_image - {block settings}

  @description this will render the mega menu

  @example {% render 'megamenu', navigation:navigation, isMegaMenuActivate=false, background:"", color:"" %}
{% enddoc %}
<!-- Mega menu -->
<section
  style="background-color:{{ background }};color:{{ color }}"
  class="hidden xl:hidden w-full white border-b border-gray-100 megamenu-container transition-all duration-700 ease-in-out fixed left-0 right-0 top-28 z-10"
>
  <div class="container mx-auto">
    <div class="w-full flex justify-between items-start py-12">
      {%- if isMegaMenuActivate == true -%}
        {%- for megamenu_submenu in navigation.links -%}
          <!-- Mega Menu card -->
          <div class="">
            <div class="py-2">
              <h4 class="text-lg font-semibold">
                {{ megamenu_submenu.title }}
              </h4>
            </div>
            <div class="w-full flex flex-col">
              {%- for list in megamenu_submenu.links -%}
                <a href="{{ list.url }}" class="text-base text-[#545454] font-normal py-2">
                  {{ list.title }}
                </a>
              {%- endfor -%}
            </div>
          </div>
        {%- endfor -%}
        {% for image in megamenu_image %}
          <!-- Mega menu Image card -->
          <div class="w-96 h-96">
            {{
              image.settings.megamenu_image
              | image_url: width: 300, height: 300
              | image_tag: class: 'w-full h-full object-center object-cover'
            }}
          </div>
        {% endfor %}

      {%- else -%}
        {%- for item in (1..4) -%}
          <!-- Mega Menu card -->
          <div>
            <div class="py-2">
              <h4 class="text-xl font-semibold">Help & Support</h4>
            </div>
            <div class="w-full flex flex-col">
              {%- for item in (1..7) -%}
                <a href="" class="text-base text-[#545454] font-normal py-2">Help & FAQ's</a>
              {%- endfor -%}
            </div>
          </div>
        {%- endfor -%}
        <!-- Mega menu Image card -->
        <div class="w-96 h-96 border">
          {{ 'product-1' | placeholder_svg_tag: 'w-full h-full object-center object-cover' }}
        </div>
      {%- endif -%}
    </div>
  </div>
</section>
