<header
  style="background-color: {{ section.settings.header_background_color }};color:{{ section.settings.header_text_color }}"
  class="w-full {% if section.settings.enable_header_border %} border-b border-gray-200 {% endif %}"
>
  <div class="container mx-auto px-4 {{ section.settings.header_background_height }} flex justify-center items-center xl:px-0">
    <div class="w-full flex justify-between items-center">
      <!-- hamburger menu -->
      <div id="hamburger-menu" class="w-1/3 xl:hidden cursor-pointer">
        {% render 'icon-menu', stroke: section.settings.header_text_color, size: '28' %}
      </div>
      <!-- navigation normal desktop -->
      <div class="w-1/3 hidden xl:block">
        <ul class="flex justify-start items-center gap-5 h-full">
          {%- if section.settings.header_menu.links -%}
            {%- for nav in section.settings.header_menu.links -%}
              <div class="flex flex-col relative h-full">
                <!-- Displaying nav -->
                <li
                  class="text-base nav cursor-pointer uppercase w-fit h-12 px-4 flex justify-center items-center"
                  has-mega-menu="{{ section.settings.header_isMegaMenuActivated }}"
                >
                  {%- unless nav.levels != 0 -%}
                    <a href="{{- nav.url -}}" class="">
                  {% endunless %}
                  {{- nav.title -}}
                  {%- unless nav.levels != 0 -%}</a>{% endunless %}
                </li>
                {%- if section.settings.header_isMegaMenuActivated == true -%}
                  <!-- Mega menu -->
                  {%- if nav.levels > 0 -%}
                    {% render 'megamenu',
                      navigation: nav,
                      isMegaMenuActivate: section.settings.header_isMegaMenuActivated,
                      background: section.settings.header_sub_mega_mobile_menu_bg,
                      color: section.settings.header_sub_mega_mobile_menu_text_color
                    %}
                  {%- endif -%}
                {%- else -%}
                  <!-- sub menu header  desktop displayed on click -->
                  {%- if nav.levels != 0 -%}
                    <div
                      style="background-color:{{ section.settings.header_sub_mega_mobile_menu_bg }};color:{{ section.settings.header_sub_mega_mobile_menu_text_color }}"
                      class="hidden nav-blocks border border-gray-200 w-52 h-fit px-4 py-5 shadow rounded absolute top-14 z-10"
                    >
                      <ul class="flex flex-col gap-2">
                        {%- for subMenu in nav.links -%}
                          <div>
                            <li class="w-full flex justify-between subMenus cursor-pointer py-2 border-b border-gray-100 {% if forloop.last %} border-none {% endif %}">
                              <a class="block text-base text-[#545454]">{{ subMenu.title }}</a>
                              {%- if subMenu.levels != 0 -%}
                                <span class="block rotate-90 icon-subMenu-link">
                                  {%- render 'icon-chevron-right', stroke: '', size: '18' -%}
                                </span>
                              {%- endif -%}
                            </li>

                            {%- if subMenu.levels != 0 -%}
                              <div class="subMenuThree hidden">
                                {% for subMenuThree in subMenu.links %}
                                  <a
                                    href="{{ subMenuThree.url }}"
                                    class="text-[#545454] text-base cursor-pointer block border-b border-b-gray-100 {% if forloop.last %} border-none {% endif %} py-2"
                                  >
                                    {{- subMenuThree.title -}}
                                  </a>
                                {% endfor %}
                              </div>
                            {%- endif -%}
                          </div>
                        {%- endfor -%}
                      </ul>
                    </div>
                  {%- endif -%}
                {%- endif -%}
              </div>
            {%- endfor -%}
          {%- endif -%}
        </ul>
      </div>
      <!-- navigation mobile -->
      {% render 'navigation-mobile',
        main_menu: section.settings.header_menu,
        background: section.settings.header_sub_mega_mobile_menu_bg,
        color: section.settings.header_sub_mega_mobile_menu_text_color,
        description: section.settings.header_mobile_sub_text,
        btn1_text: section.settings.header_mobile_btn_1,
        btn1_bg: section.settings.header_mobile_btn_1_bg,
        btn1_text_transform: section.settings.header_mobile_btn_1_text_transform,
        btn1_text_color: section.settings.header_mobile_btn_1_text_color,
        btn1_url: section.settings.header_mobile_btn_1_url,
        btn1_enable_border: section.settings.header_mobile_btn_1_enable,
        btn2_text: section.settings.header_mobile_btn_2,
        btn2_bg: section.settings.header_mobile_btn_2_bg,
        btn2_text_transform: section.settings.header_mobile_btn_2_text_transform,
        btn2_text_color: section.settings.header_mobile_btn_2_text_color,
        btn2_url: section.settings.header_mobile_btn_2_url,
        btn2_enable_border: section.settings.header_mobile_btn_2_enable
      %}
      <!-- Logo -->
      <div class="w-1/3 flex justify-center">
        {% render 'logo', logo_image: section.settings.header_logo, logo_width: section.settings.logo_width %}
      </div>
      <!-- Icons -->
      <div class="w-1/3">
        <div class="flex justify-end items-center gap-3 ">
          <span class="block cursor-pointer">
            {% render 'icon-search', stroke: section.settings.header_text_color, size: '' %}
          </span>
          <span class="hidden cursor-pointer lg:block">
            {% render 'icon-user', stroke: section.settings.header_text_color, size: '' %}
          </span>
          <span class="hidden cursor-pointer lg:block">
            {% render 'icon-heart', stroke: section.settings.header_text_color, size: '' %}
          </span>
          <span class="cursor-pointer">
            {% render 'icon-cart', stroke: section.settings.header_text_color, size: '' %}
          </span>
        </div>
      </div>
    </div>
  </div>
</header>

{% schema %}
{
  "name": "Header",
  "class": "header",
  "limit": 1,
  "tag": "section",
  "disabled_on": {
    "groups": ["footer"]
  },
  "settings": [
    {
      "type": "header",
      "content": "Header Logo"
    },
    {
      "type": "image_picker",
      "id": "header_logo",
      "label": "Logo",
      "info": "Logo site"
    },
    {
      "type": "range",
      "id": "logo_width",
      "label": "Logo width",
      "min": 120,
      "max": 250,
      "step": 10,
      "unit": "px",
      "default": 190,
      "info": "Select the size of logo"
    },
    {
      "type": "header",
      "content": "Header Background"
    },
    {
      "type": "select",
      "id": "header_background_height",
      "label": "Background height",
      "options": [
        {
          "label": "48px",
          "value": "h-12"
        },
        {
          "label": "56px",
          "value": "h-14"
        },
        {
          "label": "64px",
          "value": "h-16"
        }
      ],
      "default": "h-12",
      "info": "Header height"
    },
    {
      "type": "color",
      "id": "header_background_color",
      "label": "Background color",
      "default": "#ffffff",
      "info": "Header Background"
    },
    {
      "type": "color",
      "id": "header_text_color",
      "label": "Text color",
      "default": "#000000",
      "info": "Header text Background"
    },
    {
      "type": "checkbox",
      "id": "enable_header_border",
      "label": "Enable header border",
      "default": false,
      "info": "Enable border bottom for the header"
    },
    {
      "type": "header",
      "content": "Header menu"
    },
    {
      "type": "link_list",
      "id": "header_menu",
      "label": "Select menu",
      "default": "main-menu",
      "info": "Your header menu"
    },
    {
      "type": "header",
      "content": "Activate mega menu"
    },
    {
      "type": "checkbox",
      "id": "header_isMegaMenuActivated",
      "label": "Enable mega menu",
      "default": false,
      "info": "By toggling this, you will activate the mega menu"
    },
    {
      "type": "header",
      "content": "Sub Menu, Mega Menu, Mobile Menu colors",
      "info": "This is the background color and text color for the submenu, megamenu, mobile menu"
    },
    {
      "type": "color",
      "id": "header_sub_mega_mobile_menu_bg",
      "label": "Background color",
      "default": "#ffffff",
      "info": "Mega, sub, and mobile menu background color"
    },
    {
      "type": "color",
      "id": "header_sub_mega_mobile_menu_text_color",
      "label": "Text color",
      "default": "#000000",
      "info": "Mega, sub, and mobile menu text color"
    },
    {
      "type": "header",
      "content": "Mobile menu settings"
    },
    {
      "type": "richtext",
      "id": "header_mobile_sub_text",
      "label": "Enter a description",
      "default": "<p>Become a Fictifcare member for the best products, ispiration and storeies in skincare</p>"
    },
    {
      "type": "paragraph",
      "content": "Button one settings"
    },
    {
      "type": "text",
      "id": "header_mobile_btn_1",
      "label": "Button one text",
      "default": "Join us"
    },
    {
      "type": "color",
      "id": "header_mobile_btn_1_bg",
      "label": "Button one background",
      "default": "#000"
    },
    {
      "type": "select",
      "id": "header_mobile_btn_1_text_transform",
      "label": "Button 1 text transform",
      "options": [
        {
          "label": "Uppercase",
          "value": "uppercase"
        },
        {
          "label": "Normal",
          "value": "normal-case"
        }
      ],
      "default": "uppercase"
    },
    {
      "type": "color",
      "id": "header_mobile_btn_1_text_color",
      "label": "Button one text color",
      "default": "#fff"
    },
    {
      "type": "url",
      "id": "header_mobile_btn_1_url",
      "label": "Button one url"
    },
    {
      "type": "checkbox",
      "id": "header_mobile_btn_1_enable",
      "label": "Enable border?",
      "default": false
    },
    {
      "type": "paragraph",
      "content": "Button two settings"
    },
    {
      "type": "text",
      "id": "header_mobile_btn_2",
      "label": "Button two text",
      "default": "Sign in"
    },
    {
      "type": "color",
      "id": "header_mobile_btn_2_bg",
      "label": "Button one background",
      "default": "#000"
    },
    {
      "type": "select",
      "id": "header_mobile_btn_2_text_transform",
      "label": "Button 2 text transform",
      "options": [
        {
          "label": "Uppercase",
          "value": "uppercase"
        },
        {
          "label": "Normal",
          "value": "normal-case"
        }
      ],
      "default": "uppercase"
    },
    {
      "type": "color",
      "id": "header_mobile_btn_2_text_color",
      "label": "Button two text color",
      "default": "#fff"
    },
    {
      "type": "url",
      "id": "header_mobile_btn_2_url",
      "label": "Button two url"
    },
    {
      "type": "checkbox",
      "id": "header_mobile_btn_2_enable",
      "label": "Enable border?",
      "default": true
    }
  ],
  "presets": [
    {
      "name": "Header",
      "settings": {
        "header_logo": "",
        "logo_width": 190,
        "header_isMegaMenuActivated": true,
        "enable_header_border": true,
        "header_background_color": "",
        "header_background_height": "h-12",
        "header_menu": "main-menu"
      },
      "blocks": []
    }
  ]
}
{% endschema %}
